body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: bisque;
        text-align: center;

}

h1{
    background-color: chocolate;
    text-align: center; 
}


h2 {
    background-color: chocolate;
    text-align: center;
    font-family: Impact; 



}

div {
    background-color: coral;
    text-align: center;
    font-family: 'Franklin Gothic Medium';


}